<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Exam Completion</title>
    <link rel="icon" href="../../../assets/logo.png" type="image/png" />
    <!-- <link href="/public/css/output.css" rel="stylesheet" /> -->
    <link href="../../../css/index.css" rel="stylesheet" />

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <style>
      .editable {
        background-color: white !important;
      }
    </style>

    <link
      rel="stylesheet"
      href="../../../editor/richtexteditor/rte_theme_default.css"
    />
    <script
      type="text/javascript"
      src="../../../editor/richtexteditor/rte.js"
    ></script>
    <script
      type="text/javascript"
      src="../../../editor/richtexteditor/plugins/all_plugins.js"
    ></script>
  </head>
  <body class="bg-biru-muda font-learn">
    <!-- NAVBAR -->
    <nav
      class="sticky bg-biru-tua py-3 lg:py-3.5 top-0 w-full z-30 mb-7 xl:mb-10"
    >
      <!-- TAMPILAN HP -->
      <div class="md:hidden relative">
        <div class="ml-5 sm:ml-8 flex items-center">
          <img src="../../../assets/logo.png" class="w-10 my-auto" />
          <h1
            class="font-medium text-sm text-white block my-auto ml-2 tracking-normal"
          >
            E-Learning SMA Tanjung Priok
          </h1>
          <!-- button hamburger -->
          <div
            class="w-9 h-8 bg-[#F1F1E6] rounded-md flex ml-auto mr-5 sm:mr-8 mt-1 cursor-pointer"
            id="toggleButton"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 my-auto mx-auto"
              viewBox="0 0 448 512"
            >
              <path
                fill="#02455C"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </div>
        </div>
        <!-- Navigasi Hamburger -->
        <div
          class="hidden md:flex flex-col items-start absolute mt-3 right-0 bg-[#02455C] p-4 w-48 rounded-l-md rounded-t-none opacity-95 h-screen"
          id="mobileMenu"
        >
          <a
            href="../../dashboard/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Dashboard</a
          >
          <a
            href="../../courses/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >My Courses</a
          >
          <a
            href="../../profile/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >My Profile</a
          >
          <a
            href="#"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Tutorial</a
          >
          <a
            href="../../login/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Logout</a
          >
          <!-- Tambahkan navigasi lainnya sesuai kebutuhan -->
        </div>
      </div>

      <!-- TAMPILAN TABLET DAN KOMPUTER -->
      <div class="hidden mx-5 sm:mx-8 lg:mx-10 xl:mx-20 md:grid grid-cols-2">
        <div class="flex">
          <img
            src="../../../assets/logo.png"
            class="md:w-[40px] md:h-[40px] lg:w-[48px] lg:h-[47px]"
          />
          <h1
            class="block my-auto ml-3 font-medium tracking-wide lg:tracking-normal text-white text-[14px] lg:text-base"
          >
            E-Learning SMA Tanjung Priok Jakarta
          </h1>
        </div>
        <div
          class="justify-evenly flex my-auto text-white font-medium text-[13.5px] lg:text-[14.5px] xl:text-[15.5px] lg:tracking-normal xl:tracking-normal"
        >
          <a href="../../dashboard/siswa.html">
            <p class="hover:text-oren">Dashboard</p>
          </a>
          <a href="../../courses/siswa.html">
            <p class="hover:text-oren">My Courses</p>
          </a>
          <a href="../../profile/siswa.html">
            <p class="hover:text-oren">My Profile</p>
          </a>
          <a href="#">
            <p class="hover:text-oren">Tutorial</p>
          </a>
          <a href="../../login/guru.html">
            <p class="hover:text-oren">Logout</p>
          </a>
        </div>
      </div>

      <script>
        document
          .getElementById("toggleButton")
          .addEventListener("click", function () {
            document.getElementById("mobileMenu").classList.toggle("hidden");
            document
              .getElementById("mobileMenu")
              .classList.toggle("animate-slide-right"); // Tambahkan kelas animasi
          });
      </script>
    </nav>

    <!-- MAPEL DAN KELAS -->
    <section class="text-black mt-8 xl:mt-12">
      <div class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20">
        <div>
          <h1 class="font-bold text-lg lg:text-xl xl:text-2xl">
            Ujian Limit Tak Hingga
          </h1>
          <h1
            class="font-medium text-[15px] lg:text-[17px] xl:text-lg mt-1.5 lg:mt-2.5 xl:mt-3"
          >
            Matematika Wajib
          </h1>
        </div>
      </div>
    </section>

    <!-- PENGERJAAN UJIAN -->
    <section class="text-black mt-8 xl:mt-12 mb-10">
      <div class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20 lg:flex">
        <div class="hidden lg:block w-1/4 mr-12 xl:mr-16">
          <div
            class="bg-white shadow-sm border border-black border-opacity-30 rounded-md px-4 xl:px-6 py-3 flex"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="w-[20px] h-[23px]"
            >
              <path
                d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
              />
            </svg>
            <p class="ml-2 font-semibold text-[15px] xl:text-base text-right">
              00:16:15
            </p>
          </div>
          <div
            class="mt-2 bg-white shadow-sm border border-black border-opacity-30 rounded-md px-4 xl:px-6 py-2.5 py"
          >
            <p class="font-semibold text-sm xl:text-[15px] mt-2">
              Navigasi Soal
            </p>
            <div class="mt-5 mb-5">
              <div
                class="grid grid-cols-3 xl:grid-cols-4 gap-x-6 lg:gap-x-5 gap-y-4 text-sm xl:text-[15px] text-center"
              >
                <a href="#">
                  <div class="bg-[#A0E57F] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">1</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium text-sm">2</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">3</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">4</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">5</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">6</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">7</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">8</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">9</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">10</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">11</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">12</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">13</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">14</p>
                  </div>
                </a>
                <a href="#">
                  <div class="bg-[#EEE8A9] rounded-md lg:py-2 xl:py-2.5 px-1">
                    <p class="font-medium">15</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-full lg:w-3/4 bg-white shadow-sm border border-black border-opacity-30 rounded-md py-4 px-4 sm:px-5 sm:py-5 md:px-6 md:py-6 lg:px-8 lg:py-7 xl:px-10"
        >
          <!-- WAKTU DAN NOMOR SOAL -->
          <div class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="w-[15px] h-[18px] lg:hidden"
            >
              <path
                d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
              />
            </svg>
            <p
              class="lg:hidden ml-1 font-semibold text-[13px] md:text-sm text-right"
            >
              00:16:15
            </p>
            <p
              class="font-bold text-[13px] md:text-sm lg:text-[15px] xl:text-base ml-auto"
            >
              Soal 40
            </p>
          </div>

          <!-- SOAL -->
          <p class="mt-4 text-[13.5px] md:text-sm lg:text-[15px] xl:text-base">
            Tentukan nilai lim 2x2 + 5x dengan x adalah 3 ...
          </p>
          <div
            class="mt-4 text-[13.5px] md:text-sm lg:text-[15px] xl:text-base"
          >
            <div class="mt-2">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                  name="answer"
                  value="a"
                />
                <span class="ml-2">5</span>
              </label>
            </div>
            <div class="mt-2">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                  name="answer"
                  value="b"
                />
                <span class="ml-2">9</span>
              </label>
            </div>
            <div class="mt-2">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                  name="answer"
                  value="c"
                />
                <span class="ml-2">12</span>
              </label>
            </div>
            <div class="mt-2">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                  name="answer"
                  value="d"
                />
                <span class="ml-2">16</span>
              </label>
            </div>
            <div class="mt-2">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
                  name="answer"
                  value="d"
                />
                <span class="ml-2">24</span>
              </label>
            </div>
          </div>

          <div class="mt-5 flex">
            <button
              class="bg-[#EE982B] py-2 px-2 md:px-3 lg:py-2.5 lg:px-4 rounded-md font-semibold text-[12.5px] sm:text-[13px] md:text-[13.5px] lg:text-sm xl:text-[14.5px] transition hover:scale-105 duration-300 ease-in-out"
            >
              Sebelumnya
            </button>
            <a
              href="../penilaian-ujian/siswa.html"
              class="bg-[#02455C] text-white py-2 px-2 md:px-3 lg:py-2.5 lg:px-4 rounded-md font-semibold text-[12.5px] sm:text-[13px] md:text-[13.5px] lg:text-sm xl:text-[14.5px] ml-auto transition hover:scale-105 duration-300 ease-in-out"
            >
              Kumpulkan
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- COPYRIGHT -->
    <footer class="block inset-x-0 bottom-0 mb-5">
      <div class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20">
        <h3 class="text-black opacity-95 font-thin text-[10px] lg:text-[12px]">
          © SMA Tanjung Priok, 2024. All Right Reserved
        </h3>
        <h3
          class="text-black opacity-95 font-thin text-[10px] lg:text-[12px] lg:mt-1"
        >
          Hand-crafted and Made with ❤️ by Team Capstone UNDIP
        </h3>
      </div>
    </footer>
  </body>
</html>
