<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Course Detail Student</title>
    <link rel="icon" href="../../assets/logo.png" type="image/png" />
    <!-- <link href="/public/css/output.css" rel="stylesheet" /> -->
    <link href="../../css/index.css" rel="stylesheet" />

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <style>
      .editable {
        background-color: white !important;
      }
    </style>
  </head>
  <body class="bg-biru-muda font-learn">
    <!-- NAVBAR -->
    <nav
      class="sticky bg-biru-tua py-3 lg:py-3.5 top-0 w-full z-30 mb-7 xl:mb-10"
    >
      <!-- TAMPILAN HP -->
      <div class="md:hidden relative">
        <div class="ml-5 sm:ml-8 flex items-center">
          <img src="../../assets/logo.png" class="w-10 my-auto" />
          <h1
            class="font-medium text-sm text-white block my-auto ml-2 tracking-normal"
          >
            E-Learning SMA Tanjung Priok
          </h1>
          <!-- button hamburger -->
          <div
            class="w-9 h-8 bg-[#F1F1E6] rounded-md flex ml-auto mr-5 sm:mr-8 mt-1 cursor-pointer"
            id="toggleButton"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 my-auto mx-auto"
              viewBox="0 0 448 512"
            >
              <path
                fill="#02455C"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </div>
        </div>
        <!-- Navigasi Hamburger -->
        <div
          class="hidden md:flex flex-col items-start absolute mt-3 right-0 bg-[#02455C] p-4 w-48 rounded-l-md rounded-t-none opacity-95 h-screen"
          id="mobileMenu"
        >
          <a
            href="../dashboard/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Dashboard</a
          >
          <a
            href="../courses/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >My Courses</a
          >
          <a
            href="../profile/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >My Profile</a
          >
          <a
            href="#"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Tutorial</a
          >
          <a
            href="../login/siswa.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Logout</a
          >
          <!-- Tambahkan navigasi lainnya sesuai kebutuhan -->
        </div>
      </div>

      <!-- TAMPILAN TABLET DAN KOMPUTER -->
      <div class="hidden mx-5 sm:mx-8 lg:mx-10 xl:mx-20 md:grid grid-cols-2">
        <div class="flex">
          <img
            src="../../assets/logo.png"
            class="md:w-[40px] md:h-[40px] lg:w-[48px] lg:h-[47px]"
          />
          <h1
            class="block my-auto ml-3 font-medium tracking-wide lg:tracking-normal text-white text-[14px] lg:text-base"
          >
            E-Learning SMA Tanjung Priok Jakarta
          </h1>
        </div>
        <div
          class="justify-evenly flex my-auto text-white font-medium text-[13.5px] lg:text-[14.5px] xl:text-[15.5px] lg:tracking-normal xl:tracking-normal"
        >
          <a href="../dashboard/siswa.html">
            <p class="hover:text-oren">Dashboard</p>
          </a>
          <a href="../courses/siswa.html">
            <p class="hover:text-oren">My Courses</p>
          </a>
          <a href="../profile/siswa.html">
            <p class="hover:text-oren">My Profile</p>
          </a>
          <a href="#">
            <p class="hover:text-oren">Tutorial</p>
          </a>
          <a href="../login/siswa.html">
            <p class="hover:text-oren">Logout</p>
          </a>
        </div>
      </div>

      <script>
        document
          .getElementById("toggleButton")
          .addEventListener("click", function () {
            document.getElementById("mobileMenu").classList.toggle("hidden");
            document
              .getElementById("mobileMenu")
              .classList.toggle("animate-slide-right"); // Tambahkan kelas animasi
          });
      </script>
    </nav>

    <!-- MAPEL DAN KELAS -->
    <section class="text-black mt-8  xl:mt-12">
      <div class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20">
        <h1 class="font-bold text-lg lg:text-xl xl:text-2xl">Matematika Wajib</h1>
        <h1 class="font-medium text-sm lg:text-base xl:text-lg mt-1.5 lg:mt-2.5 xl:mt-3">XI IPS 2</h1>
      </div>
    </section>

    <!-- OPTION -->
    <section class="text-black mt-8 md:mt-10 mb-10 xl:mt-12">
      <div
        class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-1 md:gap-5 lg:gap-8"
      >
        <!-- Materi Pelajaran -->
        <div class="transition ease-in-out hover:-translate-y-1 duration-300 hover:scale-105">
          <a href="../materi/list-materi/siswa.html">
            <div class="bg-[#49CA94] px-5 sm:px-7 py-6 lg:py-7 xl:px-8 xl:py-8 rounded-lg bg-opacity-80">
              <h1 class="font-semibold text-[16px] lg:text-[17px] xl:text-lg">Materi Pelajaran</h1>
              <p class="font-normal text-[13px] sm:text-[13.5px] xl:text-sm xl:tracking-normal xl:leading-relaxed xl:mt-2 mt-1.5 leading-relaxed">
                Ayo buka materi pelajaran untuk menemukan informasi yang menarik dan mendalam!
              </p>
              <div class="mt-5 xl:mt-7 flex justify-end">
                <p class="text-[13px] xl:text-sm font-medium flex">
                  <span class="underline underline-offset-1">Selengkapnya</span
                  ><span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="16"
                      width="14"
                      viewBox="0 0 448 512"
                      class="ml-1 block mt-0.5 xl:mt-[2.5px] xl:ml-1.5"
                    >
                      <path
                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                      /></svg
                  ></span>
                </p>
              </div>
            </div>
          </a>
        </div>

        <!-- Tugas -->
        <div class="transition ease-in-out hover:-translate-y-1 duration-300 hover:scale-105"> 
          <a href="../tugas/list-tugas/siswa.html">
            <div class="mt-5 md:mt-0 bg-[#71B9DE] px-5 sm:px-7 py-6 lg:py-7 xl:px-8 xl:py-8 rounded-lg bg-opacity-80">
              <h1 class="font-semibold text-[16px] lg:text-[17px] xl:text-lg">Tugas</h1>
              <p class="font-normal text-[13px] sm:text-[13.5px] xl:text-sm xl:tracking-normal xl:leading-relaxed xl:mt-2 mt-1.5 leading-relaxed">
                Temukan tugas-tugas menarik dan menantang yang akan menguji kemampuanmu!
              </p>
              <div class="mt-5 xl:mt-7 flex justify-end">
                <p class="text-[13px] xl:text-sm font-medium flex">
                  <span class="underline underline-offset-1">Selengkapnya</span
                  ><span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="16"
                      width="14"
                      viewBox="0 0 448 512"
                      class="ml-1 block mt-0.5 xl:mt-[2.5px] xl:ml-1.5"
                    >
                      <path
                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                      /></svg
                  ></span>
                </p>
              </div>
            </div>
          </a>
        </div>

        <!-- Ujian -->
        <div class="transition ease-in-out hover:-translate-y-1 duration-300 hover:scale-105">
            <a href="../ujian/list-ujian/siswa.html">
                <div class="mt-5 md:mt-0 bg-[#EE982B] px-5 sm:px-7 py-6 lg:py-7 xl:px-8 xl:py-8 rounded-lg bg-opacity-75">
                  <h1 class="font-semibold text-[16px] lg:text-[17px] xl:text-lg">Ujian</h1>
                  <p class="font-normal text-[13px] sm:text-[13.5px] xl:text-sm xl:tracking-normal xl:leading-relaxed xl:mt-2 mt-1.5 leading-relaxed">
                    Ayo tantang dirimu dengan mengerjakan ujianmu dan hadapi evaluasi pengetahuanmu!
                  </p>
                  <div class="mt-5 xl:mt-7 flex justify-end">
                    <p class="text-[13px] xl:text-sm font-medium flex">
                      <span class="underline underline-offset-1">Selengkapnya</span
                      ><span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="16"
                          width="14"
                          viewBox="0 0 448 512"
                          class="ml-1 block mt-0.5 xl:mt-[2.5px] xl:ml-1.5"
                        >
                          <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                          /></svg
                      ></span>
                    </p>
                  </div>
                </div>
              </a>
        </div>

        <!-- Jadwal Pelajaran -->
        <div class="transition ease-in-out hover:-translate-y-1 duration-300 hover:scale-105">
          <a href="../ujian/list-ujian/siswa.html">
              <div class="mt-5 md:mt-0 bg-[#F6F551] px-5 sm:px-7 py-6 lg:py-7 xl:px-8 xl:py-8 rounded-lg bg-opacity-95">
                <h1 class="font-semibold text-[16px] lg:text-[17px] xl:text-lg">Jadwal Pelajaran</h1>
                <p class="font-normal text-[13px] sm:text-[13.5px] xl:text-sm xl:tracking-normal xl:leading-relaxed xl:mt-2 mt-1.5 leading-relaxed">
                  Ayo jelajahi jadwal pelajaranmu dan aturlah waktu belajarmu dengan mudah dan efisien!
                </p>
                <div class="mt-5 xl:mt-7 flex justify-end">
                  <p class="text-[13px] xl:text-sm font-medium flex">
                    <span class="underline underline-offset-1">Selengkapnya</span
                    ><span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="16"
                        width="14"
                        viewBox="0 0 448 512"
                        class="ml-1 block mt-0.5 xl:mt-[2.5px] xl:ml-1.5"
                      >
                        <path
                          d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                        /></svg
                    ></span>
                  </p>
                </div>
              </div>
            </a>
      </div>
      </div>
    </section>

    <!-- COPYRIGHT -->
    <footer class="block inset-x-0 bottom-0 mb-5">
      <div class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20">
        <h3 class="text-black opacity-95 font-thin text-[10px] lg:text-[12px]">
          © SMA Tanjung Priok, 2024. All Right Reserved
        </h3>
        <h3
          class="text-black opacity-95 font-thin text-[10px] lg:text-[12px] lg:mt-1"
        >
          Hand-crafted and Made with ❤️ by Team Capstone UNDIP
        </h3>
      </div>
    </footer>
  </body>
</html>
