<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Examination</title>
    <link rel="icon" href="../../../assets/logo.png" type="image/png" />
    <!-- <link href="/public/css/output.css" rel="stylesheet" /> -->
    <link href="../../../css/index.css" rel="stylesheet" />

    <!-- PENTING!!!! -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <style>
      .editable {
        background-color: white !important;
      }
    </style>

    <link
      rel="stylesheet"
      href="../../../editor/richtexteditor/rte_theme_default.css"
    />
    <script
      type="text/javascript"
      src="../../../editor/richtexteditor/rte.js"
    ></script>
    <script
      type="text/javascript"
      src="../../../editor/richtexteditor/plugins/all_plugins.js"
    ></script>
  </head>
  <body class="bg-biru-muda font-learn">
    <!-- NAVBAR -->
    <nav
      class="sticky bg-biru-tua py-3 lg:py-3.5 top-0 w-full z-30 mb-7 xl:mb-10"
    >
      <!-- TAMPILAN HP -->
      <div class="md:hidden relative">
        <div class="ml-5 sm:ml-8 flex items-center">
          <img src="../../../assets/logo.png" class="w-10 my-auto" />
          <h1
            class="font-medium text-sm text-white block my-auto ml-2 tracking-normal"
          >
            E-Learning SMA Tanjung Priok
          </h1>
          <!-- button hamburger -->
          <div
            class="w-9 h-8 bg-[#F1F1E6] rounded-md flex ml-auto mr-5 sm:mr-8 mt-1 cursor-pointer"
            id="toggleButton"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 my-auto mx-auto"
              viewBox="0 0 448 512"
            >
              <path
                fill="#02455C"
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </div>
        </div>
        <!-- Navigasi Hamburger -->
        <div
          class="hidden md:flex flex-col items-start absolute mt-3 right-0 bg-[#02455C] p-4 w-48 rounded-l-md rounded-t-none opacity-95 h-screen"
          id="mobileMenu"
        >
          <a
            href="../../dashboard/guru.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Dashboard</a
          >
          <a
            href="../../profile/guru.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >My Profile</a
          >
          <a
            href="#"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Tutorial</a
          >
          <a
            href="../../login/guru.html"
            class="text-white py-2.5 block text-center text-sm hover:text-oren"
            >Logout</a
          >
          <!-- Tambahkan navigasi lainnya sesuai kebutuhan -->
        </div>
      </div>

      <!-- TAMPILAN TABLET DAN KOMPUTER -->
      <div class="hidden mx-5 sm:mx-8 lg:mx-10 xl:mx-20 md:grid grid-cols-2">
        <div class="flex">
          <img
            src="../../../assets/logo.png"
            class="md:w-[40px] md:h-[40px] lg:w-[48px] lg:h-[47px]"
          />
          <h1
            class="block my-auto ml-3 font-medium tracking-wide lg:tracking-normal text-white text-[14px] lg:text-base"
          >
            E-Learning SMA Tanjung Priok Jakarta
          </h1>
        </div>
        <div
          class="justify-evenly flex my-auto text-white font-medium text-[13.5px] lg:text-[14.5px] xl:text-[15.5px] lg:tracking-normal xl:tracking-normal"
        >
          <a href="../../dashboard/guru.html">
            <p class="hover:text-oren">Dashboard</p>
          </a>
          <a href="../../profile/guru.html">
            <p class="hover:text-oren">My Profile</p>
          </a>
          <a href="#">
            <p class="hover:text-oren">Tutorial</p>
          </a>
          <a href="../../login/guru.html">
            <p class="hover:text-oren">Logout</p>
          </a>
        </div>
      </div>

      <script>
        document
          .getElementById("toggleButton")
          .addEventListener("click", function () {
            document.getElementById("mobileMenu").classList.toggle("hidden");
            document
              .getElementById("mobileMenu")
              .classList.toggle("animate-slide-right"); // Tambahkan kelas animasi
          });
      </script>
    </nav>

    <!-- MAPEL DAN KELAS -->
    <section class="text-black mt-8 xl:mt-12">
      <div class="sm:flex mx-5 sm:mx-8 lg:mx-10 xl:mx-20">
        <div>
          <h1 class="font-bold text-lg lg:text-xl xl:text-2xl">
            Tambah Ujian Matematika Wajib
          </h1>
          <h1
            class="font-semibold text-[15px] lg:text-[17px] xl:text-lg mt-1.5 lg:mt-2.5 xl:mt-3"
          >
            XI IPS 2
          </h1>
        </div>
        <a href="../list-ujian/guru.html" class="hidden sm:block ml-auto">
          <div
            class="bg-[#EE982B] py-2 px-3 lg:py-2 xl:py-2.5 lg:px-4 xl:px-6 rounded-md flex transition ease-in-out hover:scale-105 duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="w-3.5 h-3.5 mt-0.5 lg:mt-[3px] lg:h-[14px] lg:w-[14px] xl:h-[16px] xl:w-[16px]"
            >
              <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
              />
            </svg>
            <p
              class="text-[13px] font-semibold ml-0.5 xl:ml-1 lg:text-[13.5px] xl:text-[15px]"
            >
              Kembali
            </p>
          </div>
        </a>
      </div>
    </section>

    <!-- FORM TAMBAH UJIAN -->
    <section class="text-black mt-8 xl:mt-12 mb-10">
      <div class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20">
        <form action="" method="post" enctype="multipart/form-data">
          <label for="judul" class="lg:flex">
            <div class="lg:w-1/4">
              <p
                class="text-[13.5px] lg:text-[15px] xl:text-base mt-3 xl:mt-4 font-medium"
              >
                Judul Ujian
              </p>
            </div>
            <div class="lg:w-3/4">
              <input
                class="mt-1.5 xl:mt-2 px-3 py-2 xl:py-3 mr-4 border-2 rounded-md w-full block text-[12.5px] lg:text-sm xl:text-[15px] lg:placeholder:text-[12.5px] xl:placeholder:text-sm"
                type="text"
                id="judul"
                name="judul"
                placeholder="Masukkan Judul Ujian"
              />
            </div>
          </label>

          <label for="deskripsi" class="lg:flex mt-5">
            <div class="lg:w-1/4">
              <p
                class="text-[13.5px] lg:text-[15px] xl:text-base font-medium mt-3 xl:mt-4"
              >
                Petunjuk Ujian
              </p>
            </div>
            <div class="lg:w-3/4 overflow-scroll">
              <div id="div_editor1" class="mt-1.5"></div>
              <script type="text/javascript">
                var editor1 = new RichTextEditor("#div_editor1");
              </script>
            </div>
          </label>

          <label for="tanggal" class="lg:flex mt-5">
            <div class="lg:w-1/4">
              <p
                class="text-[13.5px] lg:text-[15px] xl:text-base font-medium mt-4 xl:mt-4"
              >
                Tenggat/Deadline
              </p>
            </div>
            <div class="md:w-[300px]">
              <input
                class="mt-1.5 xl:mt-2 px-3 py-2 lg:py-2.5 mr-4 border-2 rounded-md w-full block text-[12.5px] lg:text-sm xl:text-[15px] lg:placeholder:text-[13.5px] xl:placeholder:text-sm"
                type="datetime-local"
                id="tanggal"
                name="tanggal"
                placeholder="Pilih Tanggal dan Waktu"
              />
            </div>
          </label>

          <label for="durasi" class="lg:flex mt-5">
            <div class="lg:w-1/4">
              <p
                class="text-[13.5px] lg:text-[15px] xl:text-base font-medium mt-3 xl:mt-4"
              >
                Durasi Ujian
              </p>
            </div>
            <div class="md:w-[300px]">
              <input
                class="mt-1.5 xl:mt-1 px-3 py-2 lg:py-2.5 mr-4 border-2 rounded-md w-full block text-[12.5px] lg:text-sm xl:text-[15px] lg:placeholder:text-[13.5px] xl:placeholder:text-sm"
                type="time"
                id="durasi"
                name="durasi"
                step="1"
              />
            </div>
            <script>
              // Mendapatkan elemen input durasi
              var durasiInput = document.getElementById("durasi");

              // Menangani perubahan nilai pada input
              durasiInput.addEventListener("input", function () {
                var durasiValue = durasiInput.value;

                // Memisahkan nilai jam, menit, dan detik
                var jam = Math.floor(durasiValue / 3600);
                var menit = Math.floor((durasiValue % 3600) / 60);
                var detik = durasiValue % 60;

                // Mengonversi ke format jam:menit:detik
                var durasiFormat =
                  jam + " jam " + menit + " menit " + detik + " detik";

                // Menampilkan format durasi di tempat lain, seperti keterangan atau console
                console.log("Durasi Ujian: " + durasiFormat);
              });
            </script>
          </label>

          <label for="soal" class="mt-5">
            <p
              class="text-[13.5px] lg:text-[15px] xl:text-base font-medium mt-3 xl:mt-4"
            >
              Soal Ujian
            </p>
            <div
              class="bg-white rounded-md w-full border shadow mt-1.5 py-4 px-3 relative"
            >
              <div class="bg-[#E6F4F1] rounded-md py-3 px-3 border-2">
                <div class="flex">
                  <div class="w-5/6">
                    <p class="text-[13px] lg:text-sm xl:text-[15px] font-bold mt-1.5">Soal 1</p>
                  </div>
                  <div class="w-1/6 relative">
                    <button
                      type="button"
                      class="absolute -mr-2 right-0 focus:outline-none w-8 h-8 hover:bg-gray-300 hover:rounded-full flex items-center justify-center"
                      onclick="showOptions(event)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="16"
                        width="4"
                        viewBox="0 0 128 512"
                      >
                        <path
                          d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"
                        />
                      </svg>
                    </button>
                    <ul
                      id="optionsList"
                      class="hidden text-xs py-3 z-10 bg-white absolute right-0 top-0 border border-black border-opacity-25 mt-8 p-2 rounded-md shadow-md"
                    >
                      <a href="#">
                        <li class="mb-2 px-4 hover:font-bold">Edit</li>
                      </a>
                      <a href="#">
                        <li class="px-4 hover:font-bold">Delete</li>
                      </a>
                    </ul>
                    <script>
                      function showOptions(event) {
                        event.stopPropagation(); // Mencegah penyebaran ke event klik elemen parent
                        const optionsList =
                          document.getElementById("optionsList");
                        optionsList.classList.toggle("hidden");
                      }

                      document
                        .querySelector(".bg-white-first")
                        .addEventListener("click", function (e) {
                          window.location.href = "#"; // Navigasi ke halaman lain jika latar belakang diklik
                        });
                    </script>
                  </div>
                </div>
                <div>
                  <div id="div_editor2" class="mt-4"></div>
                  <script type="text/javascript">
                    var editor2 = new RichTextEditor("#div_editor2");
                  </script>
                </div>
                <div class="flex mt-2">
                  <button
                    class="bg-[#EE982B] py-2 px-3 lg:px-3.5 lg:py-2.5 xl:px-4 xl:py-3 rounded-md mt-3 block mr-auto transition ease-in-out hover:scale-105 duration-200"
                  >
                    <p class="text-xs lg:text-[13px] xl:text-[13.5px] font-semibold text-black">Cancel</p>
                  </button>
                  <button
                    class="bg-green-900 py-2 px-3 lg:px-3.5 lg:py-2.5 xl:px-4 xl:py-3 rounded-md mt-3 block ml-auto transition ease-in-out hover:scale-105 duration-200"
                  >
                    <p class="text-xs lg:text-[13px] xl:text-[13.5px] font-semibold text-white">Update Soal</p>
                  </button>
                </div>
              </div>

              <div class="bg-[#E6F4F1] rounded-md py-3 px-3 border-2 mt-3">
                <div class="flex">
                  <div class="w-5/6">
                    <p class="text-[13px] lg:text-sm xl:text-[15px] font-bold mt-1.5">Soal 2</p>
                  </div>
                  <div class="w-1/6 relative">
                    <button
                      type="button"
                      class="absolute -mr-2 right-0 focus:outline-none w-8 h-8 hover:bg-gray-300 hover:rounded-full flex items-center justify-center"
                      onclick="showOptions2(event)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="16"
                        width="4"
                        viewBox="0 0 128 512"
                      >
                        <path
                          d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"
                        />
                      </svg>
                    </button>
                    <ul
                      id="optionsList2"
                      class="hidden text-xs py-3 z-10 bg-white absolute right-0 top-0 border border-black border-opacity-25 mt-8 p-2 rounded-md shadow-md"
                    >
                      <a href="#">
                        <li class="mb-2 px-4 hover:font-bold">Edit</li>
                      </a>
                      <a href="#">
                        <li class="px-4 hover:font-bold">Delete</li>
                      </a>
                    </ul>
                    <script>
                      function showOptions2(event) {
                        event.stopPropagation(); // Mencegah penyebaran ke event klik elemen parent
                        const optionsList2 =
                          document.getElementById("optionsList2");
                        optionsList2.classList.toggle("hidden");
                      }

                      document
                        .querySelector(".bg-white-first")
                        .addEventListener("click", function (e) {
                          window.location.href = "#"; // Navigasi ke halaman lain jika latar belakang diklik
                        });
                    </script>
                  </div>
                </div>
                <div
                  class="border-1 w-full rounded-md mt-4"
                >
                  <div>
                    <div id="div_editor3"></div>
                    <script type="text/javascript">
                      var editor3 = new RichTextEditor("#div_editor3");
                    </script>
                  </div>

                  <div class="lg:grid lg:grid-cols-3 gap-10 text-xs lg:text-[13px] font-medium mt-3">
                    <div>
                        <div class="rounded-md border bg-white border-black border-opacity-25 overflow-hidden flex cursor-pointer">
                            <div class="bg-[#E3E3E3] px-2 py-2.5 w-1/6 border-r border-black border-opacity-20">
                                <p class="text-center">A</p>
                            </div>
                            <div class="px-4 py-2.5 w-5/6">
                                Jawaban A
                            </div>
                        </div>
                        <div class="rounded-md border bg-white border-black border-opacity-25 overflow-hidden flex cursor-pointer mt-3">
                            <div class="bg-[#E3E3E3] px-2 py-2.5 w-1/6 border-r border-black border-opacity-20">
                                <p class="text-center">B</p>
                            </div>
                            <div class="px-4 py-2.5 w-5/6">
                                Jawaban B
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="rounded-md border bg-white border-black border-opacity-25 overflow-hidden flex cursor-pointer mt-3 lg:mt-0">
                            <div class="bg-[#E3E3E3] px-2 py-2.5 w-1/6 border-r border-black border-opacity-20">
                                <p class="text-center">C</p>
                            </div>
                            <div class="px-4 py-2.5 w-5/6">
                                Jawaban C
                            </div>
                        </div>
                        <div class="rounded-md border-2 bg-white border-[#364954] overflow-hidden flex cursor-pointer mt-3">
                            <div class="bg-[#364954] px-2 py-2.5 w-1/6 border-r border-black border-opacity-20">
                                <p class="text-center text-white">D</p>
                            </div>
                            <div class="px-4 py-2.5 w-5/6">
                                Jawaban D
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="rounded-md border bg-white border-black border-opacity-25 overflow-hidden flex cursor-pointer mt-3 lg:mt-0">
                            <div class="bg-[#E3E3E3] px-2 py-2.5 w-1/6 border-r border-black border-opacity-20">
                                <p class="text-center">E</p>
                            </div>
                            <div class="px-4 py-2.5 w-5/6">
                                Jawaban E
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="flex mt-2">
                  <button
                    class="bg-[#EE982B] py-2 px-3 lg:px-3.5 lg:py-2.5 xl:px-4 xl:py-3 rounded-md mt-3 block mr-auto transition ease-in-out hover:scale-105 duration-200"
                  >
                    <p class="text-xs lg:text-[13px] xl:text-[13.5px] font-semibold text-black">Cancel</p>
                  </button>
                  <button
                    class="bg-green-900 py-2 px-3 lg:px-3.5 lg:py-2.5 xl:px-4 xl:py-3 rounded-md mt-3 block ml-auto transition ease-in-out hover:scale-105 duration-200"
                  >
                    <p class="text-xs lg:text-[13px] xl:text-[13.5px] font-semibold text-white">Update Soal</p>
                  </button>
                </div>
              </div>

              <!-- TOMBOL TAMBAH SOAL -->
              <div class="flex mt-7 pb-20 mb-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                  />
                </svg>
                <a href="#" id="tambahSoalBtn">
                  <p class="text-xs lg:text-[13px] xl:text-[13.5px] underline font-semibold ml-1 hover:font-bold">Tambah Soal</p>
                </a>
              </div>

              <!-- Dropdown untuk jenis soal -->
              <div
                id="jenisSoalOptions"
                class="hidden -mt-24 absolute top-full left-0 z-10 ml-3 bg-white border border-gray-300 rounded-md shadow-lg py-1 lg:py-2"
              >
                <div
                  onclick="selectJenisSoal('pilihan_ganda')"
                  class="cursor-pointer py-2 px-4 text-xs lg:text-[13px] font-medium hover:bg-gray-200"
                >
                  Pilihan Ganda
                </div>
                <div
                  onclick="selectJenisSoal('esai')"
                  class="cursor-pointer py-2 px-4 hover:bg-gray-200 text-xs lg:text-[13px] font-medium"
                >
                  Esai
                </div>
              </div>
              <script>
                function selectJenisSoal(jenis) {
                  // Lakukan sesuatu dengan jenis soal yang dipilih
                  console.log("Jenis Soal Terpilih:", jenis);
                  // Sembunyikan dropdown setelah memilih
                  document
                    .getElementById("jenisSoalOptions")
                    .classList.add("hidden");
                }

                document
                  .getElementById("tambahSoalBtn")
                  .addEventListener("click", function (event) {
                    event.preventDefault();
                    // Toggle tampilan dropdown jenis soal
                    document
                      .getElementById("jenisSoalOptions")
                      .classList.toggle("hidden");
                  });
              </script>
            </div>
          </label>

          <button
            type="submit"
            class="mt-5 lg:mt-8 bg-[#02455C] block ml-auto text-white font-medium text-[13px] md:text-sm lg:text-[15px] xl:text-base px-4 md:px-5 md:py-2 lg:px-10 lg:py-2 xl:px-12 py-1.5 xl:py-2.5 rounded-md ease-in-out hover:scale-105 duration-300"
          >
            Simpan
          </button>
        </form>
      </div>
    </section>

    <!-- COPYRIGHT -->
    <footer class="block inset-x-0 bottom-0 mb-5">
      <div class="mx-5 sm:mx-8 lg:mx-10 xl:mx-20">
        <h3 class="text-black opacity-95 font-thin text-[10px] lg:text-[12px]">
          © SMA Tanjung Priok, 2024. All Right Reserved
        </h3>
        <h3
          class="text-black opacity-95 font-thin text-[10px] lg:text-[12px] lg:mt-1"
        >
          Hand-crafted and Made with ❤️ by Team Capstone UNDIP
        </h3>
      </div>
    </footer>
  </body>
</html>
